<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Gestion des Especes de Monstres</title>
    <link rel="icon" type="image/x-icon" href="/img/logo/logo1.png" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"/>
    <link rel="stylesheet" th:href="@{/css/custom.css}"/>
</head>
<body>
<div th:replace="fragments :: header"></div>

<!-- Inclusion de la navbar -->
<div th:replace="~{fragments :: navbar}"></div>

<!-- Overlay pour fermer la sidebar -->
<div class="sidebar-overlay" id="sidebar-overlay"></div>

<div th:fragment="content">
    <main class="py-5">
        <div class="container">
            <h1 class="mb-5 text-center">Gestionnaire des Especes </h1>
<!--            <p>Nombre d'especes  : <span th:text="${especeMonstre.size()}"></span></p>-->
            <p th:text="'Nombre especes : ' + (${especeMonstre != null ? especeMonstre.size() : 0})">Nombre de MonsterKube</p>
            <a href="" class="btn btn-success" > +EspeceMonstre</a>
            <table class="table table-striped table-bordered">
                <thead>
                <tr>
                    <th>id</th>
                    <th>nom</th>
                    <th>type</th>
                    <th>baseAttaque</th>
                    <th>baseDefense</th>
                    <th>baseVitesse</th>
                    <th>baseAttaqueSpe</th>
                    <th>baseDefenseSpe</th>
                    <th>basePv</th>
                    <th>modAttaque</th>
                    <th>modDefense</th>
                    <th>modVitesse</th>
                    <th>modAttaqueSpe</th>
                    <th>modDefenseSpe</th>
                    <th>modPv</th>
                    <th>description</th>
                    <th>particularites</th>
                    <th>caractères</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="especeMonstre : ${especeMonstre}">
                    <td th:text="${especeMonstre.id}"></td>
                    <td th:text="${especeMonstre.nom}"></td>
                    <td th:text="${especeMonstre.type}"></td>
                    <td th:text="${especeMonstre.baseAttaque}"></td>
                    <td th:text="${especeMonstre.baseDefense}"></td>
                    <td th:text="${especeMonstre.baseVitesse}"></td>
                    <td th:text="${especeMonstre.baseAttaqueSpe}"></td>
                    <td th:text="${especeMonstre.baseDefenseSpe}"></td>
                    <td th:text="${especeMonstre.basePv}"></td>
                    <td th:text="${especeMonstre.modAttaque}"></td>
                    <td th:text="${especeMonstre.modDefense}"></td>
                    <td th:text="${especeMonstre.modVitesse}"></td>
                    <td th:text="${especeMonstre.modAttaqueSpe}"></td>
                    <td th:text="${especeMonstre.modDefenseSpe}"></td>
                    <td th:text="${especeMonstre.modPv}"></td>
                    <td th:text="${especeMonstre.description}"></td>
                    <td th:text="${especeMonstre.particularites}"></td>
                    <td th:text="${especeMonstre.caractères}"></td>

                    <td>
                        <a href="" class="btn btn-primary"> Afficher</a>
                        <a href="" class="btn btn-warning"> Modifier</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </main>
</div>

<!-- Script pour la sidebar -->
<th:block th:replace="~{fragments :: scripts}"></th:block>

<!-- Inclusion du footer -->
<footer th:replace="fragments :: footer"></footer>



</body>
</html>
